<!-- src/_includes/partials/head.njk -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | {{ site.siteName }} - Minecraft Server</title>
    <meta name="description" content="{{ site.siteDescription }}">      <link rel="stylesheet" href="../assets/css/Styles.css">
    <link rel="stylesheet" href="../assets/css/voting.css">
    <link rel="stylesheet" href="../assets/css/collapsible.css">
    {% if title == "Home - Amethyst Network" %}
    <link rel="stylesheet" href="../assets/css/homepage.css">
    {% endif %}    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-tomorrow.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="../assets/images/favicon.png">
</head>
